# debug command_console executable
command_console/command_console

#command console log files
command_console/logs

# debug ngc executable
ngc/ngc

# flight simulator executable
flight_sim/flight_sim

# flight simulator logs
flight_sim/flight_data.csv
flight_sim/logs

# mission controller executable
mc/mc
mc/mc_gui

# folder of release builds
release_builds

# any object files
*.obj
obj

# vim swap files
*.swp

# vim swo files
*.swo

# Emacs
*~                    # Backup files
.#*                   # Auto-save files
\#*                   # Auto-save files



